.projects-cards{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
}
.card{
    margin: 20px;
    padding: 20px;
    width: 500px;
    height: auto;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    background-color:mintcream;
    
}

.images{
    justify-content: center;
    align-items:center;
}
.images img{
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
}
.detail{
    margin: 20px;
}